<ion-header>
  <ion-toolbar>
    <ion-title>Add User Type</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="fixed"> Name </ion-label>
    <ion-input [(ngModel)]="inUserType.UserTypeDescription"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="AddUserType()">
    Add User Type  
  </ion-button>
</ion-content>
